.mat-toolbar
{
    margin: -24px;
    width: auto;
    margin-bottom: 10px;
}

.title-center
{
    flex:1 1 auto;
    text-align: center;
}

mat-form-field
{
    padding: 3px;
}

.float-right
{
    float: right;
}

table
{
    width: 100%;
}

// mat-card
// {
//     padding-bottom: 30px !important;
// }